
.margin{
    margin: 30px;
}
h1, h2, h3{
    color: blue;
}
.exemplo{
    border: 1pc solid black;
    padding: 10px;
}
.exemplo1 p.red{
    color:  red;
}
.exemplo2 > p
{
    color: blue;
}
.exemplo3 + p {
    color: red;
}
.exemplo4 ~ p {
    color: green;
}